.fileForm {
    margin: auto;
    display: block;
    background-color: aliceblue;
    border: #0d6efd;
    border-radius: 30px;
    height: 250px;
    padding: 20px 20px;
}

.mat-error {
    width: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.btn-primary {
    float: left;
}

.cbDiv {
    margin-left: 100px;
    margin-right: 0;
}

::ng-deep .mat-form-field-infix {
    display: flex !important;
}

::ng-deep .btn-primary {
    background-color: #0d6efd;
    padding: 15px;
    border-radius: 3px !important;
    width: 100px;
    font-size: 16px;
    border: #0d6efd;
    margin-left: 60px;
}
.error {
    font-size: 10px;
    color: red;
  }